<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="background">
      <ion-card-content>
        <div class="wrapform">
          <form #signform="ngForm">
            <ion-list>
              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>

                <ion-input
                  placeholder="Login"
                  type="text"
                  name="nom"
                  [(ngModel)]="client.nom"
                  required
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>

                <ion-input
                  placeholder="Mot de passe"
                  type="Password"
                  name="code"
                  required
                  [(ngModel)]="client.code"
                ></ion-input>
              </ion-item>
              <div class="login-btn-wrap">
                <ion-button
                  fill="solid"
                  expand="full"
                  type="submit"
                  shape="round"
                  color="success"
                  class="login-btn"
                  (click)="onloggedin()"
                  >Connection</ion-button
                >
              </div>
              <ion-item lines="none">
                <div class="password_forgot">
                  <ion-button
                    routerLink="/forgotpassword"
                    fill="clear"
                    color="success"
                    >mot de passe oublier?</ion-button
                  >
                </div>
                <!-- <div class="create_account">
                <ion-button routerLink="/sign-up" fill="clear"
                  >Créez votre compte!</ion-button
                >
              </div>-->
              </ion-item>
            </ion-list>
          </form>
        </div>
      </ion-card-content>
    </div>
  </ion-content>
</ion-app>
