ion-content {
  --ion-background-color: #fff !important;
  position: absolute;
}
ion-header {
  position: absolute;
}
ion-toolbar {
  ion-title {
    text-align: center;
  }
  --ion-background-color: transparent;
  --opacity: 0;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  background: url("../../assets/image/13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  flex-direction: column;
  justify-content: center;

  ion-card-title {
    margin-bottom: 10 px;
    font-size: 100 px;
    color: #080808;
    text-align: center;
    font-weight: 500;
  }
  ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
    ion-img {
      margin-bottom: 50px;
    }
  }

  .password_forgot {
    ion-button {
      font-size: 20px;
      color: rgba(10, 10, 10, 0.678);
    }
  }
  .create_account {
    ion-button {
      font-size: 15px;
    }
  }
  ion-card-content {
    margin-top: 500px;
    --ion-background-color: transparent;
    box-shadow: none !important;
    ion-item {
      --ion-item-background: transparent;
      --border-width: 0;
      --inner-border-width: 0;
      --highlight-color-focused: none;
      margin-bottom: 15px;

      ion-input {
        width: 257px;
        height: 42px;
        border-radius: 15px;
        border: 1px solid #198645;
        font-size: 14px;
        font-weight: 300;
        color: #555b5b;
        --padding-start: 30px;
      }
    }
  }
}
