ion-content {
  --ion-background-color: #e5eee2;
}

ion-card {
  background: transparent;
  box-shadow: none;

  ion-card-title {
    color: #242020;
    font-size: 30px;
    font-weight: 400;
  }

  ion-card-subtitle {
    color: #969292;
    font-size: 14px;
    font-weight: 400;
  }

  ion-card-content {
    ion-item {
      padding: 20px 0;
      --ion-item-background: transparent;
      --border-width: 0;
      --inner-border-width: 0;
      --highlight-color-focused: none;

      ion-input {
        width: 257px;
        height: 42px;
        border-radius: 15px;
        border: 1px solid #198645;
        font-size: 14px;
        font-weight: 300;
        color: #555b5b;
        --padding-start: 30px;
      }
    }
  }
  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-button {
      height: 53px;
      width: 247px;
      font-size: 14px;
      text-transform: none;
      --background: #198645;
      font-weight: 400;
      --border-radius: 15px !important;
      color: #fff;
    }
  }
  a {
    font-weight: 400;
    color: #198645;
    margin-top: 10px;
    margin-right: auto;
  }
}
