<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Retrouvez votre compte </ion-card-title>
          <ion-card-subtitle>
            Veuillez entrer votre adresse e-mail pour rechercher votre compte.
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input placeholder="Adresse e-mail "></ion-input>
            </ion-item>

            <div class="bottom-section">
              <ion-button>Réinitialiser le mot de passe</ion-button>
            </div>
            <ion-item>
              <a routerLink="/login">Revenir à l'écran de connexion</a>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
