<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <mat-form-field class="example-form-field">
      <mat-label></mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          nom="firstdate"
          [(ngModel)]="firstdate"
          #dateRangeStart
          (dateChange)="dateRangeChange1(dateRangeStart)"
        />
        <input
          matEndDate
          placeholder="End date"
          nom="enddate"
          [(ngModel)]="enddate"
          required
          #dateRangeEnd
          (dateChange)="dateRangeChange2(dateRangeEnd)"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-slide-toggle
      color="primary"
      (change)="sansBL()"
      [(ngModel)]="isChecked"
    >
      avec BL</mat-slide-toggle
    >
  </ion-item>

  <!--<mat-form-field class="example-form-field">
    <input
      matInput
      [matDatepicker]="picker"
      nom="firstdate"
      [(ngModel)]="firstdate"
      #dateRangeStart
          (dateChange)="dateRangeChange1(dateRangeStart)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <input
      matInput
      [matDatepicker]="Picker"
      nom="enddate"
      [(ngModel)]="enddate"
      required
         #dateRangeEnd
          (dateChange)="dateRangeChange2(dateRangeEnd)"
    />
    <mat-datepicker-toggle matSuffix [for]="Picker"></mat-datepicker-toggle>
    <mat-datepicker #Picker></mat-datepicker>
  </mat-form-field>-->
  <!--<ion-item>
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        [(ngModel)]="firstdate"
      ></ion-datetime>
       <ion-datetime
        displayFormat="MM/DD/YYYY"
        [(ngModel)]="enddate"
      ></ion-datetime>
    </ion-item>-->

  <ion-item class="ab">
    <mat-form-field appearance="standard">
      <mat-label>Rechercher : </mat-label>

      <input
        class="inp-rech"
        matInput
        (keyup)="applyFilter($event)"
        placeholder=""
        #input
      />
    </mat-form-field>
    <!--<mat-form-field appearance="fill">
        <input class="gg" matInput [(ngModel)]="pageSize" type="number" />
        <mat-label> par page</mat-label>
      </mat-form-field>-->
  </ion-item>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ion-row>
        <ion-col size="5" sizeMd="2" sizeLg="6">
          <ng-container matColumnDef="DA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{element.DA}}</td>
          </ng-container></ion-col
        >
      </ion-row>

      <!-- Code Column -->

      <ion-row>
        <ion-col size="2">
          <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
            <td mat-cell *matCellDef="let element">{{element.Code}}</td>
          </ng-container></ion-col
        >
      </ion-row>

      <!-- Lib Column -->

      <ng-container matColumnDef="Lib">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lib</th>
        <td mat-cell *matCellDef="let element">{{element.Lib}}</td>
      </ng-container>

      <!-- Libelle Column -->

      <ng-container matColumnDef="Libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Libelle</th>
        <td mat-cell *matCellDef="let element">{{element.Libelle}}</td>
      </ng-container>

      <!-- NumPiece Column -->

      <ng-container matColumnDef="NumPiece">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NumPiece</th>
        <td mat-cell *matCellDef="let element">{{element.NumPiece}}</td>
      </ng-container>

      <!-- Debit Column -->

      <ng-container matColumnDef="Debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit</th>
        <td mat-cell *matCellDef="let element">{{element.Debit}}</td>
      </ng-container>

      <!-- Credit Column -->

      <ng-container matColumnDef="Credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit</th>
        <td mat-cell *matCellDef="let element">{{element.Credit}}</td>
      </ng-container>

      <!-- Reglement Column -->

      <ng-container matColumnDef="Reglement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reglement</th>
        <td mat-cell *matCellDef="let element">{{element.Reglement}}</td>
      </ng-container>

      <!-- Avoir Column -->

      <ng-container matColumnDef="Avoir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avoir</th>
        <td mat-cell *matCellDef="let element">{{element.Avoir}}</td>
      </ng-container>

      <!-- Solde Column -->

      <ng-container matColumnDef="Solde">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Solde</th>
        <td mat-cell *matCellDef="let element">{{element.Solde}}</td>
        <td mat-footer-cell *matFooterCellDef>{{getTotal}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <!-- Table Total -->

    <table>
      <tr>
        <td colspan="4"></td>
        <td colspan="1"><b>Total:</b></td>
        <td colspan="1"><b> $ {{total.toFixed(3)}}</b></td>
      </tr>
    </table>

    <!-- Pagination -->

    <ion-item>
      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="[10,20,30]"
        showFirstLastButtons
      ></mat-paginator
    ></ion-item>
  </div>

  <!-- <div class="ion-padding">

    <ngx-datatable
      class="bootstrap material"
      style="height: 600px; overflow-y: visible"
      [rows]="rows"
      [limit]="8"
      [rowHeight]="50"
      [columnMode]="'standard'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
      [sorts]="[{prop: 'name', dir: 'desc'}]"
    >
      <ngx-datatable-column name="Raison social/nom">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Code}} ({{row.Lib}})
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Libelle" prop="Libelle">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Libelle}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="N°Piece" prop="NumPiece">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.NumPiece}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Débit" prop="Debit">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Debit}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Credit" prop="Credit">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Credit}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Reglement" prop="Reglement">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Reglement}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Avoir" prop="Avoir">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Avoir}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Solde" prop="Solde">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Solde}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
-->
</ion-content>
