<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--<ion-row>
      <ion-col size="6" sizeMd="4" sizeLg="2"> code</ion-col>
      <ion-col size="6" sizeMd="4" sizeLg="2"> libelle </ion-col>
    </ion-row>
    <ion-row *ngFor="let dt of userdata">
      <ion-col size="6" sizeMd="4" sizeLg="2"> {{dt.NC}} </ion-col>
      <ion-col size="6" sizeMd="4" sizeLg="2"> {{dt.Lib}} </ion-col>
    </ion-row>-->

  <!--  <ion-list>
      <ion-item *ngFor="let dt of userdata">
        <ion-item>{{dt.NC}}</ion-item>
        <ion-item>{{dt.Lib}}</ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
--></div>
<ion-content fullscreen class="ion-padding" >
  <ion-slide>
    <div class="slide">
      <ion-card>
        <img src="./assets/image/image3.jpg" />
        <ion-card-header>
          
          <ion-card-title>Un confort visuel inégalé à toutes les distaces</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Depuis son lancement, le nombre de porteurs des verres progressifs Optylens ne cesse d'acroitre pour atteindre les centaines de milliers.
          Toujours dans le but de maintenir et améliorer ce lien de confiance, Optylab s'adapte aux nouvelles tendances visuelles et aux exigences émergentes des presbytes aves la nouvelle mise à jour des verres progressifs OPTYLENS FUSION
        </ion-card-content>
      </ion-card>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide">
      <ion-card>
        <img src="./assets/image/img.jpg" />
        <ion-card-header>
          
          <ion-card-title>Un confort visuel inégalé à toutes les distaces</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Depuis son lancement, le nombre de porteurs des verres progressifs Optylens ne cesse d'acroitre pour atteindre les centaines de milliers.
          Toujours dans le but de maintenir et améliorer ce lien de confiance, Optylab s'adapte aux nouvelles tendances visuelles et aux exigences émergentes des presbytes aves la nouvelle mise à jour des verres progressifs OPTYLENS FUSION
        </ion-card-content>
      </ion-card>
    </div>
  </ion-slide>
</ion-content>
